In [4]:
pwd

'C:\\Users\\iibm'

In [9]:
print('''
    USAGE METADATA: hostname     port:8080
        tty       : 22.56.32     port:69696
''')

    USAGE METADATA: hostname     port:8080
        tty       : 22.56.32     port:69696

# Arithmetic Operator

In [12]:
2+2/2

4//2

2

In [13]:
2e4

20000.0

In [14]:
5+5*2

15

In [15]:
print(type(20))

<class 'int'>

In [19]:
s = 'workshop'
s

'workshop'

# Slicing and indexing

```s[start:end:step]```

In [27]:
s[0:7:2]

'wrso'

In [29]:
s[:-1]

'worksho'

In [31]:
s[::-1] #reverse the string

'pohskrow'

# METHODS

In [36]:
s= s.upper()
s

'WORKSHOP'

In [37]:
s.lower()

'workshop'

In [42]:
'the big brown fox jumps over a lazy dog'.split()

['the', 'big', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [43]:
s.split('H')

['WORKS', 'OP']

In [55]:
name = 'banana'
char = '7'
isRipe = True
daysOld = 5


if isRipe:
    print(f" {name} ripped already {daysOld} back ")


print('let see if is works %d %d'%(isRipe, int(char)))

 banana ripped already 5 back
let see if is works 1 7

# List , Tuples, Dictionary

In [72]:
my_list = [7,4,7,3,67,'h', 0.5]

my_tuple = (5,3,7,2,'8',0.4)

my_dictionary= {
    'data': 5432,
    'OPs' : 'dev'
}

In [79]:
def about_list():
   print(type(my_list))
   print( my_list)

about_list()

<class 'list'>
[7, 4, 7, 3, 67, 'h', 0.5]

In [80]:
def about_tuple():
   print(type(my_tuple))
   print( my_tuple)

about_tuple()

<class 'tuple'>
(5, 3, 7, 2, '8', 0.4)

In [81]:
def about_DIC():
   print(type(my_dictionary))
   print( my_dictionary)

about_DIC()

<class 'dict'>
{'data': 5432, 'OPs': 'dev'}

In [91]:
def slicing_indexing():
    
    print(f'original list : {my_list}')
    print(my_list[0:2]) # from index 0 to 2 [ 2 not included]
    print(my_list[0:3:2])
    print(f'double the list : {my_list*2} \n')
    print(f''' let push element [a] to {my_list} 
    which becomes {my_list + ['a']}
    ''')
    
slicing_indexing()

original list : [7, 4, 7, 3, 67, 'h', 0.5]
[7, 4]
[7, 7]
double the list : [7, 4, 7, 3, 67, 'h', 0.5, 7, 4, 7, 3, 67, 'h', 0.5]

 let push element [a] to [7, 4, 7, 3, 67, 'h', 0.5]
    which becomes [7, 4, 7, 3, 67, 'h', 0.5, 'a']

In [111]:
my_list.append('0.56')
my_list

[7, 4, 7, 3, 67, 'h', 'B', '0.56']

In [109]:
my_list.pop()

0.5

In [116]:
my_dictionary['Domain'] = 'Data Science'

In [113]:
def DIC():
    print(my_dictionary)

In [117]:
DIC()

{'data': 5432, 'OPs': 'dev', 'Domain': 'Data Science'}

In [119]:
dic = {'key' : 'value', 'key' : 'value' }

In [120]:
dic

{'key': 'value'}

# Set

In [121]:
my_set = set()

In [123]:
type(my_set)

set

In [3]:
Qlist = [3,4,[0,5,'hello']]
Qlist[2][2] = 'goodbye'

Qlist

[3, 4, [0, 5, 'goodbye']]

In [4]:
list5 = [1,2,3,54,1,2,3,6]
new_set = set(list5)

new_set

{1, 2, 3, 6, 54}

# NUMPY in python

In [5]:
import numpy as np

In [6]:
array = np.array(list5)

In [8]:
array

array([ 1,  2,  3, 54,  1,  2,  3,  6])

In [10]:
np.linspace(start=0, stop=20, num=10, endpoint=False, retstep=True)

(array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18.]), 2.0)

In [18]:
np.linspace(start=2, stop=89, num=30, retstep=0)

array([ 2.,  5.,  8., 11., 14., 17., 20., 23., 26., 29., 32., 35., 38.,
       41., 44., 47., 50., 53., 56., 59., 62., 65., 68., 71., 74., 77.,
       80., 83., 86., 89.])

## arange

In [20]:
np.arange(0,-90,-10)

array([  0, -10, -20, -30, -40, -50, -60, -70, -80])

In [22]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
dummy = [[56,52,23],[32,23,23],[32,46,12]]

matrizz = np.array(dummy)

matrizz

array([[56, 52, 23],
       [32, 23, 23],
       [32, 46, 12]])

In [32]:
n= np.zeros((3,2))

In [35]:
eye = np.eye(5)

In [36]:
np.diagonal(eye)

array([1., 1., 1., 1., 1.])

In [41]:
eye.reshape(1,25)

array([[1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 1., 0., 0., 0., 0., 0., 1.]])

In [48]:
# SLICING

X = np.arange(10)
X

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [51]:
x = slice(2,7,3)

X[x]

array([2, 5])

## Random in numpy

In [52]:
np.random.rand(5,4)

array([[0.3762627 , 0.80995751, 0.95915038, 0.52171164],
       [0.77012406, 0.06774259, 0.78965916, 0.05844974],
       [0.82722788, 0.47219683, 0.3571249 , 0.22768664],
       [0.63785588, 0.88252554, 0.37440289, 0.43192555],
       [0.85822702, 0.00677803, 0.9431916 , 0.54759004]])

In [63]:
np.random.randint(low=2, high=40)

21

In [64]:
np.random.randint(low=2, high=40, size=7)

array([37,  8, 24, 11,  9,  4, 39])

##  SEED

In [66]:
np.random.seed(23)
np.random.rand(5)

array([0.51729788, 0.9469626 , 0.76545976, 0.28239584, 0.22104536])

In [71]:
np.random.seed(23)
np.random.rand(5)

array([0.51729788, 0.9469626 , 0.76545976, 0.28239584, 0.22104536])

In [72]:
np.random.seed(22)
np.random.rand(5)

array([0.20846054, 0.48168106, 0.42053804, 0.859182  , 0.17116155])

In [73]:
np.random.seed(22)
np.random.rand(5)

array([0.20846054, 0.48168106, 0.42053804, 0.859182  , 0.17116155])